<footer>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. All rights reserved.
    <a href="https://linkedin.com/in/tedyun/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/tedyun"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/tedyun"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://sigmoid.social/@tedyun"><i class="fa-brands fa-mastodon"></i></a>
  </span>
</footer>
