@font-face {
    font-family: EconSans;
    font-weight: 300;
    src:
    /* Super Modern Browsers */
    url('https://economist-components.github.io/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('https://economist-components.github.io/assets/ecosans-lig.woff') format('woff');
}
@font-face {
    font-family: EconSans;
    font-style: normal;
    src:
    url('https://economist-components.github.io/assets/ecosans-reg.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecosans-reg.woff') format('woff');
}
@font-face {
    font-family: EconSans;
    font-weight: 700;
    src:
    url('https://economist-components.github.io/assets/ecosans-bol.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecosans-bol.woff') format('woff');
}
@font-face {
    font-family: EconSans;
    font-style: italic;
    src:
    url('https://economist-components.github.io/assets/ecosans-ita.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecosans-ita.woff') format('woff');
}
@font-face {
    font-family: MiloSerifPro;
    font-style: normal;
    src:
    url('https://economist-components.github.io/assets/ecoserif-reg.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecoserif-reg.woff') format('woff');
}
@font-face {
    font-family: MiloSerifPro;
    font-style: italic;
    src:
    url('https://economist-components.github.io/assets/ecoserif-ita.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecoserif-ita.woff') format('woff');
}
@font-face {
    font-family: MiloSerifPro;
    font-weight: 500;
    src:
    url('https://economist-components.github.io/assets/ecoserif-med.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/ecoserif-med.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-Light;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndlig-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndlig-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-LightIt;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndligita-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndligita-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-Regular;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndreg-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndreg-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-Italic;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndita-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndita-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-Medium;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndmed-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndmed-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-MediumIt;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndmedita-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndmedita-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-Bold;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndbol-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndbol-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-BoldIt;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndbolita-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndbolita-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-ExtraBold;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsanscndxbol-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsanscndxbol-webfont.woff') format('woff');
}
@font-face {
    font-family: EconSansCnd-ExtraBoldIt;
    font-weight: normal;
    src:
    url('https://economist-components.github.io/assets/econsansxbolita-webfont.woff2') format('woff2'),
    url('https://economist-components.github.io/assets/econsansxbolita-webfont.woff') format('woff');
}
